<ion-view cache-view="false" view-title="Mis Carros">
  <ion-nav-buttons side="right">
    <a type="button" class="button button-clear" href="#/jaunter/addCar">Crear</a>
  </ion-nav-buttons>
  <ion-content>

    <!-- <div class="list list-inset">
      <ion-item ng-repeat="car in Cars" class="itemCar " href="#/jaunter/Cars/{{car.id}}">
        <p>
          <strong class="uppercase centerText">{{car.marca}} {{car.modelo}}</strong>
        </p>
      </ion-item>
    </div> -->
  <div class="card" ng-repeat="car in Cars" >
  <div id="{{car.id}}"ng-click="detailCar($event)" class="item item-text-wrap">
    <div class="row">
      <p class="col">
        <strong>Marca: </strong>{{car.brand}}
      </p>
      <p class="col">
        <strong>Modelo: </strong>{{car.model}}
      </p>
    </div>
    <div class="row">
      <p class="col">
        <strong>Año: </strong> {{car.year}}
      </p>
      <p class="col">
        <strong>Color: </strong>{{car.color}}
      </p>
    </div>

  </div>
</div>
  </ion-content>


</ion-view>
