<ion-view view-title="Destino" >

  <ion-nav-buttons side="right">
    <button type="button" class="button button-clear" ng-hide="!hidden" ng-click="acceptMap()"> Continuar  </button>
      <button type="button" class="button button-clear" ng-hide="hidden" ng-click="searchAddressMap()"> Buscar  </button>
  </ion-nav-buttons>

  <ion-pane>

    <ion-content id="destinationMap" class="marginMap"></ion-content></ion-content>

    <div  class="bar bar-footer">
    <select class="col"  id="schoolSelectDestination" ng-hide="schoolHide" ng-model="selectedHq" ng-options="x.nombre for x in sedes">
    </select>
    <select class="col"  id="zoneSelectDestination" ng-hide="zoneHide">
      <option selected value="">Zona</option>
      <option value="Moderna Ensenada">Moderna</option>
      <option value="Valle Dorado Ensenada">Valle Dorado </option>
      <option value="Valle Verde Ensenada">Valle Verde </option>
    </select>
      <button class="button button-energized icon-left ion-edit col" ng-hide="!hidden" type="button" ng-click="editAddressMap() ">Editar</button>
  </div>

</ion-pane>

</ion-view>
