<ion-view>
  <ion-pane>
    <ion-content id="map"></ion-content>
    <div  class="bar bar-footer">
        <label class="item item-input col-35" ng-hide="hidden">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="Buscar"  ng-model="trip.origin" id="inputAddress">
        </label>
        <button class="button button-positive col-15" type="button" ng-hide="hidden" ng-click="searchAddressMap()" style="margin-left:5px;">Buscar</button>
        <button class="button button-energized col-15" type="button" ng-hide="!hidden" ng-click="editAddressMap() ">Editar</button>
        <button class="button button-positive col-15" type="button"  ng-hide="!hidden" ng-click="acceptMap()">Aceptar</button>
    </div>
  </ion-pane>
</ion-view>
