<ion-view view-title="Origen">

  <ion-nav-buttons side="right">
    <button type="button" class="button button-clear" ng-hide="!hidden" ng-click="acceptMap()"> Continuar  </button>
    <button type="button" class="button button-clear" ng-hide="hidden" ng-click="searchAddressMap()"> Buscar  </button>
  </ion-nav-buttons>

  <ion-pane>
    <ion-content id="originMap" class="marginMap">   </ion-content>

    <div  class="bar bar-footer">
      <label class="item item-input col" ng-hide="hidden">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Buscar"  ng-model="trip.origin" id="inputAddressOrigin">
      </label>
      <select class="col" ng-hide="hidden"  id="schoolSelectOrigin">
        <option value="" selected >Sede</option>
        <option value="UABC Valle Dorado Ensenada">UABC Valle Dorado</option>
        <option "UABC Ensenada">UABC Sauzal</option>
      </select>
          <button class="button button-energized icon-left ion-edit col" ng-hide="!hidden" type="button" ng-click="editAddressMap() ">Editar</button>
    </div>

  </ion-pane>

</ion-view>
