
.fabBtn {
  position: absolute;
  top: calc(100% - 20px);
  left: calc(90% - 35px);
  text-align: center;
  color: white;
  font-weight: bold;
  border-radius: 100%;
  display: block;
  height: 4em;
  width: 4em;
  padding: .5em;
  background: #089c46 ;
  z-index: auto;
}
.fabBtn:before {
  background-color: #27ae60;
  color: white;
}
.fabBtn:active {
  background-color: #27ae60;
  color: white;
}
.submitBtn{
  display: block;
  margin: auto;
  width: 10em;
}
.footerBtn{
  margin-left: 80%;
}
.labelTrip{
  margin: auto;
  display: block;
  text-align: center;

}
